//********************************
//Reference - http://codeguide.co/
//********************************
.declaration-order {
    /* Positioning */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Box-model */
    display: block;
    float: right;
    width: 100px;
    height: 100px;
    /* Typography */
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #333;
    text-align: center;
    /* Visual */
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    /* Misc */
    opacity: 1;
}


/* VENDOR - Default fall-backs and external files.
========================================================================== */

// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';

/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */

@import './globals/_variables.scss';
@import './globals/_mixins.scss';
@import './globals/_placeholders.scss';

/* FRAMEWORK - Structure and layout files.
========================================================================== */

// @import 'framework/_grid.scss';
// @import 'framework/_breakpoints.scss';
// @import 'framework/_layout.scss';

/* MODULES - Re-usable site elements.
========================================================================== */

@import './globals/_grid.scss';
@import './globals/_semantic-tags.scss';
@import './globals/_headers.scss';
@import './globals/_paragraph.scss';
// @import './globals/_button.scss';
// @import './globals/_link.scss';
@import './globals/_ul.scss';

/* Applies to all elements on page
============================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Root element style
============================================================================*/

html,
body {
    font-family: $font-stack;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $rolling-stone;
    text-rendering: optimizeLegibility;
}


/* overlay navigation bar style
============================================================================*/

.nav-logo {
    height: 2.5em;
    width: 2.5em;
    vertical-align: middle;
    transition: 0.5s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /* Black fallback color */
    background-color: $white;
    /* Black w/opacity */
    // background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    z-index: 1;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    transition: 0.5s;
    & a {
        display: block;
        @extend %nav-tem;
    }
}


/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    text-align: center;
    & a:first-child {
        margin: 0; // margin-bottom: 1em;
        text-align: left;
        border-bottom: 1px solid $porcelain;
    }
}

.cross-icon {
    position: relative;
    top: 0;
    left: 0;
    @extend %menu-icon;
    font-size: 2.5em;
}


/* top navigation bar style
============================================================================*/

.top-navbar {
    overflow: hidden;
    & a:not(:first-child) {
        display: none;
    }
    & a:first-child {
        margin: 0;
        margin-bottom: 1em;
        border-bottom: 1px solid $porcelain;
    }
}

@media #{$lg} {
    nav {
        border-bottom: 1px solid $porcelain;
    }
    .top-navbar {
        max-width: $max-viewport-width;
        margin: 0 auto;
    }
}

.menu-icon {
    @extend %menu-icon;
    font-size: 2em;
    @extend %nav-tem;
    &:hover {
        text-decoration: none;
    }
}

@media #{$lg} {
    .menu-icon {
        display: none;
    }
    .top-navbar {
        & a:not(:first-child) {
            display: inline-block;
            font-weight: 600; // color: $rolling-stone;
            padding: .6em;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.3s;
            &:hover,
            &:focus {
                color: $endeavour;
                border-bottom: 0.3em solid $azure-radiance;
            }
        }
    }
    .nav-logo {
        height: 3em;
        width: 3em;
        vertical-align: middle;
    }
}


/* hero-section styles
**********************************************/

.hero-section {
    color: $alabaster;
    background-color: #41a3fd;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media #{$lg} {
    .hero-content {
        max-width: $max-viewport-width;
        margin: 0 auto;
    }
}