//********************************
//Reference - http://codeguide.co/
//********************************
.declaration-order {
    /* Positioning */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Box-model */
    display: block;
    float: right;
    width: 100px;
    height: 100px;
    /* Typography */
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #333;
    text-align: center;
    /* Visual */
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    /* Misc */
    opacity: 1;
}


/* VENDOR - Default fall-backs and external files.
========================================================================== */

// @import 'vendor/_normalize.scss';

/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */

@import './base/_variables.scss';
@import './base/_mixins.scss';
@import './base/_placeholders.scss';

/* FRAMEWORK - Structure and layout files.
========================================================================== */

// @import 'framework/_grid.scss';
// @import 'framework/_breakpoints.scss';
// @import 'framework/_layout.scss';

/* MODULES - Re-usable site elements.
========================================================================== */

@import './modules/_grid.scss';
@import './modules/_semantic-tags.scss';
@import './modules/_headers.scss';
@import './modules/_paragraph.scss';
// @import './modules/_button.scss';
// @import './modules/_link.scss';
// @import './modules/_ul.scss';

/* Applies to all elements on page
============================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Root element style
============================================================================*/

html,
body {
    // max-width: $max-viewport-width;
    // min-width: $min-viwport-width;
    height: 100%;
    margin-left: 3.2em;
    margin-right: 3.2em;
    font-family: $font-stack;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $grey;
    text-rendering: optimizeLegibility;
}


/* Wrapper
============================================================================*/

.wrapper {
    display: flex; // height: 100%;
    flex-flow: column wrap;
    justify-content: space-between;
}


/* Navbar style
============================================================================*/

.nav-logo {
    height: 4em;
    width: 4em;
    vertical-align: middle;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline; // &::after {
    //     display: block;
    //     content: "";
    //     border-bottom: 1px solid;
    // }
}

.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    font-size: .8em;
    font-weight: 600;
    color: $azure-radiance;
    text-decoration: none;
    letter-spacing: 2px; // padding-bottom: 10px;
    transition: all .2s ease-in-out;
    &:hover {
        color: $astronaut-blue;
        border-bottom: 5px solid $azure-radiance; // transform: scale(1.1);
    }
}


/* hero section style
============================================================================*/

.hero-section {
    @include rounded-corner(5px);
    background-color: $porcelain;
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.hero-line {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: 0;
    border-top: 1px solid $grey;
}

.hero-header {
    font-size: 2.5em;
    line-height: 2em;
    color: $astronaut-blue;
    letter-spacing: 3px;
}

.lead {
    font-size: 1.1em;
}


/* whos-who  section style
============================================================================*/

.whoswho-cover {
    display: flex;
    flex-flow: row wrap;
    & a {
        font-weight: 600;
        color: $astronaut-blue;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.whoswho-thumb {
    opacity: .9;
    transition: all .2s ease-in-out;
    &:hover {
        color: $azure-radiance;
        opacity: 1;
    }
}


/* plot tile style
============================================================================*/

.plot-tile {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); // padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}