<header class="site-header">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a class="navbar-brand" href="#">
                    <img class="nav-logo" src="../../../assets/images/logo.png">
                </a>
            </li>
            <li routerLinkActive="active"><a class="nav-item" href="#">HOME</a></li>
            <li><a class="nav-item" href="#">SUPERMAN</a></li>
            <li><a class="nav-item" href="#">BATMAN</a></li>
            <li><a class="nav-item" href="#">WONDER WOMAN</a></li>
            <li><a class="nav-item" href="#">GREEN LANTERN</a></li>
            <li><a class="nav-item" href="#">THE FLASH</a></li>
            <li><a class="nav-item" href="#">AQUAMAN</a></li>
            <!--<li><a class="nav-item" href="#">CYBORG</a></li>-->
        </ul>
    </nav>
</header>