<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img class="nav-logo" src="../../../assets/images/logo.png">
    </a>
    <div class="navbar-nav">
        <a class="nav-item" href="#">HOME</a>
        <a class="nav-item" href="#">SUPERMAN</a>
        <a class="nav-item" href="#">BATMAN</a>
        <a class="nav-item" href="#">WONDER WOMAN</a>
        <a class="nav-item" href="#">GREEN LANTERN</a>
        <a class="nav-item" href="#">THE FLASH</a>
        <a class="nav-item" href="#">AQUAMAN</a>
        <a class="nav-item" href="#">CYBORG</a>
    </div>
</nav>