<!--<div class="jumbotron">
    <h1 class="display-3">Justice League</h1>
    <p class="lead">The Justice League, is a fictional superhero team appearing in American comic books published by DC Comics. </p>
    <hr class="my-4">
    <p>Fueled by his restored faith in humanity and inspired by Superman's (Henry Cavill) selfless act, Bruce Wayne (Ben Affleck)
        enlists newfound ally Diana Prince to face an even greater threat. Together, Batman and Wonder Woman work quickly
        to recruit a team to stand against this newly awakened enemy.
    </p>
</div>
<!--<ng-content></ng-content>-->
<!--<div class="row">
    <div class="view-content" style="font-size: .9em;color: #3f3f3f;">
        <member *ngFor="let member of coreMembers" [member-info]="member" (member-selected)="onMemberSelect($event)"></member>
    </div>
</div>-->
<article class="hero-section">
    <header>
        <h1 class="hero-header">Justice League</h1>
        <p class="lead">
            The Justice League, is a fictional superhero team appearing in American comic books published by DC Comics.
        </p>
    </header>
    <hr class="hero-line">
    <p class="hero-subheader">
        Fueled by his restored faith in humanity and inspired by Superman's (Henry Cavill) selfless act, Bruce Wayne (Ben Affleck)
        enlists newfound ally Diana Prince to face an even greater threat. Together, Batman and Wonder Woman work quickly
        to recruit a team to stand against this newly awakened enemy. Despite the formation of an unprecedented league of
        heroes -- Batman, Wonder Woman, Aquaman, Cyborg and the Flash -- it may be too late to save the planet from an assault
        of catastrophic proportions
    </p>
</article>
<article>
    <h2>plot summary</h2>
    <div class="row">
        <section class="col plot-tile">
            <h4>nikhilesh chhakkar</h4>
            <p class="tile-content">In the wake of Clark Kent Supermans death at the hands of Doomsday in BvS , vigilante Bruce Wayne Batman reevaluates
                his extreme methods and begins reaching out to extraordinary heroes to assemble a team of crime fighters
                to defend earth from all kinds of threats. They face off against Steppenwolf, the herald and second in command
                to alien warlord Darkseid , who is charged by Darkseid with hunting down three artifacts hidden on Earth.</p>
        </section>
        <section class="col plot-tile">
            <h4>jack duff</h4>
            <p class="tile-content">After the events of Doomsday, Bruce and Diana search the world only to find three extraordinary meta-humans.
                As new enemies arise Batman, Wonder Woman, the Flash, Cyborg, and Aquaman must form the well known alliance
                Justice League to save the world from mount destruction.</p>
        </section>
        <section class="col plot-tile">
            <h4>priba dj</h4>
            <p class="tile-content">Months after the events of Batman v Superman: Dawn of Justice and inspired by Superman's apparent sacrifice for
                humanity, Bruce Wayne and Diana Prince assemble a team of meta-humans consisting of Barry Allen, Arthur Curry,
                and Victor Stone to face the catastrophic threat of Steppenwolf and his army of Parademons who are on the
                hunt for three Mother Boxes on Earth.</p>
        </section>
        <section class="col plot-tile">
            <h4>Someone else</h4>
            <p class="tile-content">Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists the help
                of his newfound ally, Diana Prince, to face an even greater enemy. Pradeep Ramanathan Raju & Dr. Arnab Sarkar
                unite to form the deadly army of zoonama, Earth's mightiest superheroes must now combine forces to save the
                planet and their lethal invasion plans.</p>
        </section>
    </div>
</article>
<article>
    <h2>Who's Who</h2>
    <div class="whoswho-cover">
        <a href="#">
            <figure class="whoswho-thumb">
                <img class="shrink" src="../../../assets/images/superman.jpg" alt="">
                <figcaption>superman</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/batman.jpg" alt="">
                <figcaption>batman</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/wonderwoman.jpg" alt="">
                <figcaption>wonderwoman</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/greenlantern.jpg" alt="">
                <figcaption>green lantern</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/flash.jpg" alt="">
                <figcaption>the flash</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/aquaman.jpg" alt="">
                <figcaption>aquaman</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/cyborg.jpg" alt="">
                <figcaption>cyborg</figcaption>
            </figure>
        </a>
    </div>
</article>