<article class="hero-article">
    <header>
        <h1 class="hero-header">Justice League</h1>
        <p class="lead">
            The Justice League, is a fictional superhero team appearing in American comic books published by DC Comics.
        </p>
    </header>
    <hr class="hero-line">
    <p class="hero-subheader">
        <!--Fueled by his restored faith in humanity and inspired by Superman's (Henry Cavill) selfless act, Bruce Wayne (Ben Affleck)
        enlists newfound ally Diana Prince to face an even greater threat. Together, Batman and Wonder Woman work quickly
        to recruit a team to stand against this newly awakened enemy. Despite the formation of an unprecedented league of
        heroes -- Batman, Wonder Woman, Aquaman, Cyborg and the Flash -- it may be too late to save the planet from an assault
        of catastrophic proportions-->
        Eiusmod aute proident anim eiusmod. Do pariatur mollit laborum ea ullamco pariatur in labore qui ex sit dolore. Ut consequat
        sint do esse reprehenderit adipisicing Lorem est cillum do excepteur.Culpa non laboris do sint. Qui aliquip pariatur
        magna esse anim elit amet occaecat cupidatat exercitation et incididunt. Ad esse et excepteur anim commodo eu amet
        eiusmod ad minim dolor laboris dolore adipisicing. Adipisicing consectetur ullamco eu deserunt et consequat deserunt
        culpa ipsum do laboris sint aliqua. Excepteur cupidatat ullamco enim in aliquip non amet laborum non excepteur velit
        magna tempor in. Cupidatat proident dolore duis pariatur veniam anim sunt. Lorem amet dolore tempor cillum amet velit
        amet tempor in sint.
    </p>
</article>
<article class="exclv-article">
    <h2>exclusive</h2>
    <div class="exclv-cover">
        <div class="exclv-tl-large">
            <h4>
                Aute consectetur duis aliquip aliqua pariatur elit ad consectetur elit.
            </h4>
            <p class="lead">
                Enim excepteur sit pariatur dolor esse laboris est.
            </p>
        </div>
        <div class="exclv-tl-medium tl-joker">
            <h4>
                Sit ipsum cupidatat.
            </h4>
            <p class="lead">
                Laborum qui sunt Lorem cupidatat.
            </p>
        </div>
        <div class="exclv-tl-medium tl-crossover">
            <h4>
                Labore voluptate ea velit.
            </h4>
            <p class="lead">
                Elit ullamco do aliqua adipisicing.
            </p>
        </div>
    </div>
</article>
<article class="plot-article">
    <h2>plot summary</h2>
    <div class="plot-cover">
        <section class="plot-tile">
            <p class="tile-content">Aliqua ad nulla pariatur occaecat qui. Elit elit cupidatat minim aliqua elit. Aliqua eiusmod nostrud elit ipsum
                sint ea cupidatat magna deserunt duis Lorem. Adipisicing consectetur consequat in non irure in voluptate
                sit proident tempor esse ullamco officia. Qui enim proident labore nostrud sit tempor commodo.</p>
            <p class="author">nikhilesh chhakkar</p>
        </section>
        <section class="plot-tile">
            <p class="tile-content">Eu incididunt qui tempor et duis laboris sunt fugiat aliquip sint duis ea. Laborum labore qui veniam deserunt
                occaecat minim reprehenderit adipisicing non magna. Ad non irure commodo nulla qui laborum culpa reprehenderit
                sit aliqua incididunt dolor elit ipsum. Consectetur reprehenderit culpa exercitation elit ea irure ex ut
                consectetur elit in excepteur. Incididunt aute ullamco dolor et eiusmod eu.</p>
            <p class="author">jack duff</p>
        </section>
        <section class="plot-tile">
            <p class="tile-content">Ullamco duis fugiat laboris quis in id voluptate cupidatat ut laboris. Occaecat ad dolor enim reprehenderit tempor
                ipsum elit ipsum ipsum occaecat. Aliquip ex ex nostrud cillum deserunt reprehenderit pariatur consequat sunt.
                Ad fugiat cillum ea sint aliqua voluptate ea magna excepteur esse eu do do.</p>
            <p class="author">priba dj</p>
        </section>
    </div>
</article>
<article class="featured">
    <h2>featured</h2>
    <div class="featured-cover">
        <div class="featured-tl featured-tl-da">
            <h4>Sunt ea nisi voluptate adipisicing eu ipsum.</h4>
        </div>
        <div class="featured-tl featured-tl-wm">
            <h4>Ex ad sit tempor cupidatat esse incididunt.</h4>
        </div>
        <div class="featured-tl featured-tl-rb">
            <h4>Velit sint nisi aliquip sit.</h4>
        </div>
        <div class="featured-tl featured-tl-bt">
            <h4>Amet ea sint eiusmod.</h4>
        </div>
    </div>
</article>
<article class="whoswho-article">
    <h2>Who's Who</h2>
    <div class="whoswho-cover">
        <a href="#">
            <figure class="whoswho-thumb">
                <img class="shrink" src="../../../assets/images/superman.jpg" alt="">
                <figcaption>superman</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/batman.jpg" alt="">
                <figcaption>batman</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/wonderwoman.jpg" alt="">
                <figcaption>wonderwoman</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/greenlantern.jpg" alt="">
                <figcaption>green lantern</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/flash.jpg" alt="">
                <figcaption>the flash</figcaption>
            </figure>
        </a>
        <a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/aquaman.jpg" alt="">
                <figcaption>aquaman</figcaption>
            </figure>
        </a>
        <!--<a href="#">
            <figure class="whoswho-thumb">
                <img src="../../../assets/images/cyborg.jpg" alt="">
                <figcaption>cyborg</figcaption>
            </figure>
        </a>-->
    </div>
</article>