<jumbotron gradient-class="league" [header]="header" [lead]="leadTxt" [sub-header]="subHeader"></jumbotron>
<section class="pl-section">
    <div class="plt-cover">
        <h1>Plot Summary</h1>
        <div class="plt-content">
            <div class="plt-tile">
                <p class="plt-txt">
                    Elit ut pariatur cupidatat velit commodo id aliqua sunt ut eiusmod. Ad proident officia ullamco anim elit cillum ex duis
                    dolore fugiat deserunt sunt irure excepteur. Elit voluptate non esse excepteur aliquip elit in nulla
                    mollit eu mollit culpa ad reprehenderit.
                </p>
                <p class="plt-author">
                    Jack Duff
                </p>
            </div>
            <div class="plt-tile">
                <p class="plt-txt">
                    Ea do ipsum aliqua ad veniam dolor reprehenderit quis in tempor labore sit elit. Commodo exercitation consectetur deserunt
                    cillum et qui aliqua ea. Consequat laboris occaecat nostrud ex mollit. In eu tempor anim ipsum id.
                </p>
                <p class="plt-author">
                    Nikhilesh Chhakkar
                </p>
            </div>
            <div class="plt-tile">
                <p class="plt-txt">
                    Ipsum eu elit veniam minim sit culpa anim elit pariatur. Occaecat eiusmod labore magna in aliquip magna in cillum mollit.
                    Lorem nulla elit irure sit incididunt quis. Ea sit est ut nostrud irure nulla ad anim. Culpa aliqua est
                    culpa amet. Esse ad dolore esse proident ipsum irure. Aliqua ipsum eiusmod Lorem laborum veniam do consequat
                    duis.
                </p>
                <p class="plt-author">
                    priba_dj
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ww-section">
    <div class="ww-cover">
        <h1>Who's who</h1>
        <div class="ww-content">
            <!--<hero-tile *ngFor="let member of coreMembers" [details]="member"></hero-tile>-->
            <div class="ww-tile">
                <figure>
                    <img src="../../../assets/images/superman_logo.png" alt="superman logo">
                </figure>
                <p>Look! Up in the sky! It’s a bird! It’s a plane! It’shero-…Well, you know how it ends, don’t you? It’s a sentence
                    so iconic, there are probably kids shouting it in Swahili as you read this. Man of Steel - When a young
                    boy discovers that he has extraordinary powers, he decides to find out about his origin. He then learns
                    to fight for Earth when it gets attacked by members of his own race</p>
                <a class="icon-medium" routerLink="/superman">
                    <i class="ion-ios-fastforward-outline"></i>                    
                </a>
            </div>
            <div class="ww-tile">
                <figure>
                    <img src="../../../assets/images/batman_logo.png" alt="superman logo">
                </figure>
                <p>
                    Dark Knight. Caped Crusader. World’s Greatest Detective. Whatever you know him as, wherever you know him from—the blockbuster
                    movies, TV shows, video games, cartoons, or millions of comics—Batman is proof you don’t need superpowers
                    to be a superhero… and the poster boy for what a bad childhood can do to you.
                </p>
                <a class="icon-medium" routerLink="/batman">
                    <i class="ion-ios-fastforward-outline"></i>
                </a>
            </div>
            <div class="ww-tile">
                <figure>
                    <img src="../../../assets/images/wonderwoman_logo.png" alt="superman logo">
                </figure>
                <p>
                    OK, let’s just come out and say it: Wonder Woman is the most famous heroine of all time. No offense to the Lara Crofts, Buffys,
                    or Disney princesses of the world, but none of them have been plastered on as many magazine covers, adorned
                    as many T-shirts, or sold the countless comics, dolls, and action figures that Wonder Woman has. The
                    full package of beauty, brains, and brawn, she’s been a feminist icon since her star-spangled intro in
                    1941.
                </p>
                <a class="icon-medium" routerLink="/wonder-woman">
                    <i class="ion-ios-fastforward-outline"></i>
                </a>
            </div>
            <div class="ww-tile">
                <figure>
                    <img src="../../../assets/images/green_lantern_logo.png" alt="superman logo">
                </figure>
                <p>
                    Imagine if the ring on your finger was more than a piece of gaudy jewelry. Instead, it’s the universe’s most powerful weapon.
                    It can create whatever you wish out of pure energy, its might limited only by your imagination and will.
                    And with it comes exclusive membership to an exclusive intergalactic police force with alien officers
                    spanning the cosmos.
                </p>
                <a class="icon-medium" routerLink="/green-lantern">
                    <i class="ion-ios-fastforward-outline"></i>
                </a>
            </div>
            <div class="ww-tile">
                <figure>
                    <img src="../../../assets/images/flash_logo.png" alt="superman logo">
                </figure>
                <p>
                    Indy cars, bullet trains, supersonic aircraft… The Flash leaves them all in the dust. Barry Allen, a forensic scientist with
                    the Central City police force, is struck by lightning in a freak accident. When he wakes up after nine
                    months, he discovers that he can achieve great speeds.
                </p>
                <a class="icon-medium" routerLink="/flash">
                    <i class="ion-ios-fastforward-outline"></i>
                </a>
            </div>
            <div class="ww-tile">
                <figure>
                    <img src="../../../assets/images/aquaman2_logo.png" alt="superman logo">
                </figure>
                <p>
                    Make all the sushi jokes, YouTube spoofs, and SNL sketches you want, Aquaman’s been an icon for over seventy years. The King
                    of the Seven Seas. Reluctant ruler of Atlantis. A man who holds his own against heroes like Superman
                    and Wonder Woman. He’s so recognizable that when officials speak about the perils of sea pollution, they’ll
                    whip out Aquaman references to sound hip.
                </p>
                <a class="icon-medium" routerLink="/aquaman">
                    <i class="ion-ios-fastforward-outline"></i>
                </a>
            </div>
        </div>
    </div>

</section>