<jumbotron gradient-class="bat" [header]="header" [lead]="leadTxt" [sub-header]="subHeader"></jumbotron>
<section class="hc-section">
    <div class="hc-cover">
        <p>
            Millionaire Bruce Wayne was just a kid when he watched his parents get gunned down during a mugging in Gotham City. The crime
            would define his life, as he dedicated himself to becoming the world’s greatest weapon against crime—the Batman.

        </p>
        <br>
        <p>
            Forget his Batarangs, Batmobile, or Utility Belt filled with high-tech weapons. Batman is the most feared superhero of all,
            because he’s pushed himself to the absolute pinnacle of human achievement. He’s a brilliant detective who’s mastered
            fighting techniques the world’s barely heard of. An Olympic-caliber athlete with a plan for every occasion, Batman’s
            seemingly always five steps ahead of his foes. But in his crusade against injustice, two questions always loom:
            How far will he go to protect the innocent, and will he sacrifice his humanity along the way?
        </p>
        <br>
    </div>
</section>
<section class="hp-section">
    <div class="hp-cover">
        <h1>Character Facts</h1>
        <!--<figure>
            <img src="../../../../assets/images/superman_logo.png" alt="">
            <figcaption>
                <h1>Character Facts</h1>
            </figcaption>
        </figure>-->
        <div class="hp-content">
            <div class="hp-tile">
                <p>Powers:</p>
                <p>
                    exceptional martial artist, combat strategy, inexhaustible wealth, brilliant deductive skill, advanced technology
                </p>
            </div>
            <div class="hp-tile">
                <p>Real Name:</p>
                <p>
                    Bruce Wayne
                </p>
            </div>
            <div class="hp-tile">
                <p>First Appearance:</p>
                <p>
                    DETECTIVE COMICS #27 (1939)
                </p>
            </div>
            <div class="hp-tile">
                <p>Alias/Alter Ego:</p>
                <p>
                    Dark Knight, Caped Crusader, Matches Malone
                </p>
            </div>
            <div class="hp-tile">
                <p>Base of Operations:</p>
                <p>
                    Gotham City
                </p>
            </div>
            <div class="hp-tile">
                <p>Occupation:</p>
                <p>
                    Dark Knight, Caped Crusader, Matches Malone
                </p>
            </div>
        </div>
    </div>
</section>