<!--<div class="views-row views-row-1 views-row-odd views-row-first" style="float: left;width: 14.28%;position: relative;cursor:pointer;">
    <div class="grid-title" [highlight]="'yellow'" [default-color]="'red'">
        <a (click)="navigateToMemberPage(member.name)">{{member.name}}</a>
    </div>
    <div class="whos-who-thumb"><a (click)="navigateToMemberPage(member.name)"><img typeof="foaf:Image" [src]="member.src" width="184" height="384" alt=""></a></div>
    <div class="whos-who-thumb-hover"></div>    
</div>-->
<!--Can be written like below as well-->
<!--<ng-template [ngIf]="true">
    <div class="views-row views-row-1 views-row-odd views-row-first" style="float: left;width: 14.28%;position: relative;" *ngIf="true">
        <div class="whos-who-thumb"><a (click)="navigateToMemberPage(member.name)"><img typeof="foaf:Image" [src]="member.src" width="184" height="384" alt=""></a></div>
        <div class="whos-who-thumb-hover"></div>        
        <div class="grid-title" [highlight]="'yellow'" [default-color]="'red'">
            <a (click)="navigateToMemberPage(member.name)">{{member.name}}</a>
        </div>
    </div>
</ng-template>-->