/* font releated
====================================================*/

$font-stack: 'Manuale',
serif;
$font-size: 16px;
$font-weight:400;
$line-height:150%;

/* colors
====================================================*/

$orange: #ffa600;
$grey: #868686;
$mine-shaft:#3f3f3f;
$azure-radiance: #0282F9;
$astronaut-blue:#003F5E;
$science-blue:#0268c6;
$endeavour:#0156A5;
$porcelain:#EDEFF0;
$bright-grey:#384047;
$rolling-stone:#717F86;
$oslo-grey:#7B8B8E;
$white: #fff;
$alabaster:#F7F7F7;
$regent-grey:#8C989E;
$light-blue:#03A9F4;
$blue:#2196F3;

/*link colors
====================================================*/

$link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;

/* border radius
====================================================*/

$radius-button: 5px;
$radius-tab: 5px;

/* minimum viewport width and height
====================================================*/

$max-viewport-width:1140px;
$min-height:100vh;

/* Media queries 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
====================================================*/

// Small devices (landscape phones, 576px and up)
$sm:'(min-width: 576px)';
// Medium devices (tablets, 768px and up)
$md:'(min-width: 768px)';
// Large devices (desktops, 992px and up)
$lg:'(min-width: 992px)';
// Extra large devices (large desktops, 1200px and up)
$xl:'(max-width: 1200px)';