/* Import styles
********************************************/

@import "./modules/font-face.scss";
@import "./modules/variables.scss";
@import "./modules/mixins.scss";
@import "./modules/headers.scss";

/* Applies to all elements on page
********************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* root element
********************************************/

html,
body {
    font-family: $font-stack;
    font-size: $font-size;
    font-weight: $font-weight-normal;
    line-height: $line-height;
    // letter-spacing: 1px;
    color: $oslo-gray;
    text-rendering: optimizeLegibility;
}


/* wrapper
********************************************/

.c-wrapper {
    display: grid;
    grid-template-columns: 4em 1fr 1fr 1fr;
    grid-template-rows: 4em 1fr 2em;
    // grid-column-gap: 1em;
    // grid-row-gap: 1em;
    height: 100vh;
}

.c-side-nav {
    grid-column: 1 / 2;
    grid-row: 1/4;
    background-color: $black-haze;
    box-shadow: 0 0 1px rgba(0, 65, 94, 0.2);
}

header {
    grid-column: 2 / 5;
    grid-row: 1/2;
    background-color: $primaryColorLight;
    color: $black-haze;
}

main {
    grid-column: 2 / 5;
    grid-row: 2/3;
}

footer {
    grid-column: 2 / 5;
    grid-row: 3/4;
}

.grd-pad {
    padding: 1em;
}


/* top header style
********************************************/

.o-contact-header {
    flex: 1;
}

.c-header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-srh-section {
    position: relative;
    flex: 2;
}

.o-srh-input {
    width: 100%;
    height: 3.5em;
    padding: 0.5em 3em;
    background-color: rgba(255, 255, 255, 0.15);
    border: 0;
    outline: none;
    transition: 0.2s;
    box-shadow: 0;
    @include rounded-corner(0.2em);
    &::placeholder {
        color: $porcelain;
        font-weight: $font-weight-small;
        letter-spacing: 0.2em;
    }
    &:focus {
        color: $oslo-gray;
        background-color: $offWhite;
    }
}

.o-icn {
    position: absolute;
    &--medium {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        font-size: 1.2em;
    }
    &--large {
        font-size: 2em;
        fill: currentColor;
    }
    &--dark {
        color: $oslo-gray;
    }
}

.c-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.btn {
    color: $offWhite;
    background: 0 0;
    background-repeat: no-repeat no-repeat;
    fill: currentColor;
    border: 0;
    cursor: pointer;
    @include rounded-corner(50%);
    &--icon {
        height: 2em;
        width: 2em;
        margin-left: 2.5em;
    }
}

.o-logo {
    text-align: center;
    transition: 0.5s;
}

.o-logo-inside {
    position: relative;
    top: 0.7em;
    display: block;
    width: 100%;
    >img {
        width: 1.7em;
    }
}


/* main content
***************************/

.c-contacts-wrap {
    display: flex;
    font-size: 0.8em;
}

.c-contact-lst {
    flex: 1;
}

.c-lst-header {
    background-color: $porcelain;
}

.c-tr {
    display: flex;
    flex: column wrap;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover,
    &.active {
        color: $offWhite;
        background-color: $orange;
    }
}

.c-td {
    flex: 1;
    &--standout {
        text-transform: uppercase;
        font-weight: $font-weight-medium;
    }
}

.c-phone,
.c-email,
.c-country {
    flex: 2;
}

.o-contact-avatar {
    >img {
        height: 3em;
        width: 3em;
        @include rounded-corner(50%);
        &.round-border {
            border: 2px solid $offWhite;
        }
    }
}


/* Main navigations style
*******************************************/

.c-main-nav {
    margin-top: 2em;
    list-style-type: none;
}

.c-nav-item {
    padding: 0.5em;
    text-align: center;
    & a {
        color: $oslo-gray;
        cursor: pointer;
        &:hover,
        &.active {
            color: $primaryColor;
        }
    }
}


/* Contact Display style
*******************************************/

.c-contact-details {
    flex-basis: 25%;
    background-color: $wet-asphalt;
}

.c-contact-cover {
    color: rgba(255, 255, 255, 0.7);
}

.c-contact-header {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid $offWhite;
}

.c-contact-info {
    margin-left: 1em;
}

.c-contact-summary {
    padding: 2em;
    font-size: 1.2em;
}

.c-data-row {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: 2em;
    color: rgba(255, 255, 255, 0.85);
}

.c-data-label {
    // padding-right: 1em;
    flex-basis: 35%;
    text-transform: capitalize;
}

.c-data-value {
    flex: 1;
}

.o-input {
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    background-color: $wet-asphalt;
    border: 0;
    outline: none;
    transition: 0.5s;
    &--editable {
        padding: 1em 0.5em;
        color: $oslo-gray;
        background-color: $offWhite;
        @include rounded-corner(0.2em);
    }
}

.c-contact-action {
    text-align: center;
}

.o-btn {
    padding: 0.7em 2em;
    font-size: 1.1em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.85);
    background-color: $blue;
    border: 0;
    @include rounded-corner(0.2em);
    &:focus {
        border: 0;
    }
    &--large {
        padding: 0.7em 7em;
    }
}