<jumbotron gradient-class="sup" [header]="header" [lead]="leadTxt" [sub-header]="subHeader"></jumbotron>
<section class="hc-section">
    <div class="hc-cover">
        <p>
            Wonder Woman is Princess Diana of the immortal Amazons from Greek mythology. When army pilot Steve Trevor crashes on the
            warriors’ secluded island paradise, Diana wins the right to escort him home and make her people known to the
            world. Entering our cynical world for the first time, there’s a lot she must wrap her head around, especially
            our ways of war, hate, and, well… dating. Helping her are her superhuman strength and speed, as well as the trademark
            bulletproof bracelets, but it’s probably her Golden Lasso of Truth most people really wish they had.


        </p>
        <br>
        <p>
            Torn between a mission to promote peace and her own warrior upbringing, Wonder Woman fights evil while hoping to unlock the
            potential of a humanity she doesn’t always understand.
        </p>
    </div>
</section>
<section class="hp-section">
    <div class="hp-cover">
        <h1>Character Facts</h1>
        <!--<figure>
            <img src="../../../../assets/images/superman_logo.png" alt="">
            <figcaption>
                <h1>Character Facts</h1>
            </figcaption>
        </figure>-->
        <div class="hp-content">
            <div class="hp-tile">
                <p>Powers:</p>
                <p>
                    hard light constructs, instant weaponry, force fields, flight, durability, alien technology
                </p>
            </div>
            <div class="hp-tile">
                <p>Real Name:</p>
                <p>
                    Hal Jordan
                </p>
            </div>
            <div class="hp-tile">
                <p>First Appearance:</p>
                <p>
                    ALL-AMERICAN COMICS #16 (1940)
                </p>
            </div>
            <div class="hp-tile">
                <p>Alias/Alter Ego:</p>
                <p>
                    Master pilot
                </p>
            </div>
            <div class="hp-tile">
                <p>Base of Operations:</p>
                <p>
                    Coast City
                </p>
            </div>
            <div class="hp-tile">
                <p>Occupation:</p>
                <p>
                    Test pilot
                </p>
            </div>
        </div>
    </div>
</section>