<jumbotron gradient-class="sup" [header]="header" [lead]="leadTxt" [sub-header]="subHeader"></jumbotron>
<section class="hc-section">
    <div class="hc-cover">
        <p>
            Young Barry Allen’s life stopped the minute his mother was murdered. The true killer never found, its mystery obsessed Barry,
            driving him to become a forensic scientist. Consumed by his work, he spent his life chained to his desk, solving
            every case that flew across it. But when a freak lightning bolt hits a nearby shelf in his lab, Barry receives
            super-speed, becoming the Flash. Now, he’ll race up buildings, across oceans, and around the world to get his
            man—while getting introduced to a world so much bigger than his old life of microscopes and cold cases.

        </p>
        <br>
        <p>
            Able to run at near light-speeds, his powers provide the ultimate caffeine kick: He can run up buildings, move so swiftly
            he phases through objects, create sonic booms with the snap of his fingers—and never need to order delivery.
            Despite his speed, Barry can become so obsessed with crime-solving he can still lose track of everything else
            around him, leaving the fastest man alive constantly running a minute behind.
        </p>
    </div>
</section>
<section class="hp-section">
    <div class="hp-cover">
        <h1>Character Facts</h1>
        <!--<figure>
            <img src="../../../../assets/images/superman_logo.png" alt="">
            <figcaption>
                <h1>Character Facts</h1>
            </figcaption>
        </figure>-->
        <div class="hp-content">
            <div class="hp-tile">
                <p>Powers:</p>
                <p>
                    super speed, intangibility, superhuman agility
                </p>
            </div>
            <div class="hp-tile">
                <p>Real Name:</p>
                <p>
                    Barry Allen
                </p>
            </div>
            <div class="hp-tile">
                <p>First Appearance:</p>
                <p>
                    FLASH COMICS #1 (1940)
                </p>
            </div>
            <div class="hp-tile">
                <p>Alias/Alter Ego:</p>
                <p>
                    Fastest man on earth
                </p>
            </div>
            <div class="hp-tile">
                <p>Base of Operations:</p>
                <p>
                    Central City
                </p>
            </div>
            <div class="hp-tile">
                <p>Occupation:</p>
                <p>
                    Forensic scientist
                </p>
            </div>
        </div>
    </div>
</section>