%center-content {
    max-width: $max-viewport-width;
    margin: 0 auto;
}

%bg-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

%btn {
    display: block;
    width: 150px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border: none;
    shadow: none;
}

%headers {
    margin-top: 1em;
    margin-bottom: .5em;
    text-transform: uppercase;
}

%grid-padding {
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
}

// .image-one {
//     @extend %bg-image;
//     background-image: url(/img/image-one.jpg");
// }
// .image-two {
//     @extend %bg-image;
//     background-image: url(/img/image-two.jpg");
// }