/* font releated
====================================================*/

$font-stack: 'Lato',
'Arial',
'sans-serif';
$font-size: 16px;
$font-weight:300;

/* colors
====================================================*/

$orange: #ffa600;
$grey: #f3f3f3;
$blue: #82d2e5;
$mine-shaft:#3f3f3f;

/*link colors
====================================================*/

$link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;

/* border radius
====================================================*/

$radius-button: 5px;
$radius-tab: 5px;

/* minimum viewport width
====================================================*/

$max-viewport-width:1000px;

/* Media queries 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
====================================================*/

// Small devices (landscape phones, 576px and up)
$sm:'(min-width: 576px)';
// Medium devices (tablets, 768px and up)
$md:'(min-width: 768px)';
// Large devices (desktops, 992px and up)
$lg:'(min-width: 992px)';
// Extra large devices (large desktops, 1200px and up)
$xl:'(max-width: 1200px)';