<jumbotron gradient-class="sup" [header]="header" [lead]="leadTxt" [sub-header]="subHeader"></jumbotron>
<section class="hc-section">
    <div class="hc-cover">
        <p>
            The most recognized superhero in pop culture, Superman has been elevated to mythic folkhero status. Rocketed to Earth from
            the dying planet Krypton, baby Kal-El was found by a farming couple who named the boy Clark Kent and raised him
            as their own. Discovering his enormous powers, they instilled in him strong moral values—and inspired him to
            become a hero. Superman has super-everything—strength, speed, flight, invulnerability as well as his renowned
            X-ray and heat vision. The most powerful being on the planet, his amazing abilities are also a melancholy reminder
            of how different he is from the people he’s dedicated to protect.
        </p>
        <br>
        <p>
            A universal icon, Superman means different things to the many diverse people he inspires: He’s an alien; an immigrant from
            a faraway land just looking to help; a country boy fighting the never-ending battle for truth and justice. And
            recent comics have truly spotlighted his role as the people’s hero: Following a neophyte Man of Steel still learning
            his powers’ limits, Superman fights the evil corporate tycoons and corrupt one-percenters that have overwhelmed
            the establishment.
        </p>
    </div>
</section>
<section class="hp-section">
    <div class="hp-cover">
        <h1>Character Facts</h1>
        <div class="hp-content">
            <div class="hp-tile">
                <p>Powers:</p>
                <p>
                    super strength, flight, invulnerability, super speed, heat vision, freeze breath, x-ray vision, superhuman hearing, healing
                    factor
                </p>
            </div>
            <div class="hp-tile">
                <p>Real Name:</p>
                <p>
                    Kal-El, Clark Joseph Kent
                </p>
            </div>
            <div class="hp-tile">
                <p>First Appearance:</p>
                <p>
                    ACTION COMICS #1 (1938)
                </p>
            </div>
            <div class="hp-tile">
                <p>Alias/Alter Ego:</p>
                <p>
                    Man of Steel
                </p>
            </div>
            <div class="hp-tile">
                <p>Base of Operations:</p>
                <p>
                    Metropolis
                </p>
            </div>
            <div class="hp-tile">
                <p>Occupation:</p>
                <p>
                    Reporter
                </p>
            </div>
        </div>
    </div>
</section>