@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-Black.ttf") format("opentype"), url("../fonts/Muli/Muli-BlackItalic.ttf") format("opentype"), url("../fonts/Muli/Muli-Bold.ttf") format("opentype"), url("../fonts/Muli/Muli-BoldItalic.ttf") format("opentype"), url("../fonts/Muli/Muli-ExtraBold.ttf") format("opentype"), url("../fonts/Muli/Muli-ExtraBoldItalic.ttf") format("opentype"), url("../fonts/Muli/Muli-ExtraLight.ttf") format("opentype"), url("../fonts/Muli/Muli-ExtraLightItalic.ttf") format("opentype"), url("../fonts/Muli/Muli-Regular.ttf") format("opentype"), url("../fonts/Muli/Muli-SemiBold.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}