/* Buttons
============================================= */

.btn {
    display: inline-block;
    margin-right: 10px;
    padding: 1em 3em;
    @include rounded-corner(.6em);
    color: $white;
    // font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    border: 0;
}

.btn-primary {
    background-color: $rolling-stone; // color: $secondary-color;    
    &:hover {
        color: $rolling-stone;
        background-color: $porcelain;
    }
}