.xs-h-tile {}

.sm-h-tile {}

.md-h-tile {
    min-height: 12em;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
}

.lg-h-tile {
    grid-column: 1/3;
    grid-row: 1/3;
    min-height: 25em;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
}

.xl-h-tile {}

.xs-v-tile {}

.sm-v-tile {}

.md-v-tile {}

.lg-v-tile {}

.xl-v-tile {}