/* Colors
********************************************/
$bright-gray: #384047;
$oslo-gray: #7b8b8e;
$abbey: #4b5658;
$carrot: #e67e22;
$peter-river: #3498db;
$belize-hole: #2980b9;
$wet-asphalt: #34495e;

/* Font weight
********************************************/
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
